body{
    text-align: center;
}



.pizza{
    background-image: url(../images/pizza.jpeg);
    height: 500px;
    background-size: cover;
    font-size: 40px;
    color: darkblue;
    font-family: 'Dancing Script' ;


}
.col-md-3 img{

    margin: 20px;
    width: 100%;
}
h1{
    font-family: 'Tangerine' ;
    font-size: 40px;
    font-weight: bolder;
}
.col-md-2 img{

    margin: 20px;
    width: 100%;
}
h2{
    color: darkred;
}
.toppings{
    background-color: gray;
}
.crust{
    background-color: limegreen;
}
.larges{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;
}
.mediums{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;
    
}
.smalls{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;


}
.extralarges{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;
}
.extrasmalls{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;
}
.extramediums{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;
}
.largesmalls{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;
}
.largemediums{
    display: none;
    font-family: 'Amaranth' ;
    color: navy;
}
.mouse{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5vh;
    border-radius:30px;
    box-shadow: 0 0 20px #000;
    animation: bounce 0.75 linear infinite;

}

